.bar {
    margin: 10px;
    padding: 10px;
    color: white;
}

.komedija {
    width: 60%;
    background: orange;
}

.drama {
    width: 80%;
    background: red;
}

.triler {
    width: 20%;
    background: blue;
}